In [1]:
!pip install xlrd
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

!pip install fuzzywuzzy
from fuzzywuzzy import fuzz

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: fuzzywuzzy in /opt/anaconda3/lib/python3.11/site-packages (0.18.0)

In [2]:
df = pd.read_excel('GSAF5.xls')

In [3]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(6968, 23)

**Activity, Sex, Injury, Time, Species**

**Sex**

In [5]:
df["Sex"].unique()

array(['M', 'F', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [6]:
def normalise_sex(df):
    sex_mapping = {
    'M': 'M',
    'F': 'F', 
    ' M': 'M',
    'M ': 'M',
    'lli': 'M',
    'M x 2': 'M',
    '.': 'U',
    }

    df["Sex"] = df["Sex"].map(sex_mapping)
    df["Sex"] = df["Sex"].map(sex_mapping).fillna('U')
    return df

In [7]:
normalise_sex(df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

**Activity**

In [8]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [9]:
df["Activity"] = df["Activity"].fillna('Undisclosed')

In [10]:
activities = []

for i in df["Activity"]:
    lst = i.split()
    
    if len(lst) == 1:
        if lst[0].isalpha():          
            activities.append(lst[0])
        
activities = set(activities)

In [11]:
activities

{'Angling',
 'Bather',
 'Bathing',
 'Batin',
 'Boat',
 'Boating',
 'Bodyboarding',
 'Bodysurfing',
 'Canoeing',
 'Clamming',
 'Crabbing',
 'Crawling',
 'Crayfishing',
 'Cruising',
 'Diving',
 'Fihing',
 'Filming',
 'Fisherman',
 'Fishing',
 'Fishingat',
 'Floating',
 'Foilboarding',
 'Freediving',
 'Hilo',
 'Jumping',
 'Kakaying',
 'Kayaking',
 'Kiteboarding',
 'Kitesurfing',
 'Lobstering',
 'Murder',
 'Murdered',
 'Oystering',
 'Paddleboarding',
 'Paddleskiing',
 'Paddling',
 'Parasailing',
 'Playing',
 'Rescuing',
 'Rowing',
 'SUP',
 'Sailing',
 'Scalloping',
 'Sculling',
 'Shipwreck',
 'Shipwrecked',
 'Shrimping',
 'Sightseeing',
 'Sitting',
 'Skimboarding',
 'Skindiving',
 'Snorkeling',
 'Spearfishing',
 'Spearishing',
 'Splashing',
 'Stamding',
 'Standing',
 'Suicide',
 'Surfing',
 'Surfng',
 'Swimming',
 'Swimmingq',
 'Swmming',
 'Undisclosed',
 'Unknown',
 'Wading',
 'Wakeboarding',
 'Walking',
 'Washing',
 'Watercraft',
 'Windsurfing',
 'canoeing',
 'male'}

In [12]:
#Breakdown activities by category
unknown_activities = {
    'Murder',
    'Suicide',
    'UN',
    'Unknown',
    'male',
    'Hilo',
    'Filming',
    'Rescuing',
    'Shipwreck',
    'Shipwrecked',
    'Sightseeing'
}

diving_activites = {
    'Skindiving',
    'Snorkeling',
    'Diving'
}

boating_activities = {
    'Boat',
    'Boating',
    'Canoeing',
    'Kayaking',
    'Paddleboarding',
    'Paddleskiing',
    'Rowing',
    'Sailing',
    'Wakeboarding',
    'Watercraft',
    'Parasailing'
}

swimming_and_bathing_activities = {
    'Bather',
    'Bathing',
    'Sitting',
    'Splashing',
    'Stamding',
    'Standing',
    'Washing',
    'Swimming',
    'Swimmingq',
    'Swmming',
    'Playing',
    'Jumping'
}

surfing_activities = {
    'Bodyboarding',
    'Bodysurfing',
    'Foilboarding',
    'Kiteboarding',
    'Kitesurfing',
    'Skimboarding',
    'Surfing',
    'Windsurfing'
}

fishing_activities = {
    'Angling',
    'Crabbing',
    'Crawling',
    'Crayfishing',
    'Fishing',
    'Fishingat',
    'Lobstering',
    'Oystering',
    'Spearfishing',
    'Spearishing',
    'Shrimping',
    'Batin'
}

In [13]:
def get_activity(activity):
    if activity == 'Undisclosed':
        return 'Undisclosed'

    activity = activity.lower()

    for i in diving_activites:
        if fuzz.partial_ratio(i.lower(), activity) > 75:
            return 'Diving'
            
    for i in boating_activities:
        if fuzz.partial_ratio(i.lower(), activity) > 75:
            return 'Boating'

    for i in swimming_and_bathing_activities:
        if fuzz.partial_ratio(i.lower(), activity) > 75:
            return 'Swimming/Bathing'

    for i in surfing_activities:
        if fuzz.partial_ratio(i.lower(), activity) > 75:
            return 'Surfing'

    for i in fishing_activities:
        if fuzz.partial_ratio(i.lower(), activity) > 75:
            return 'Fishing'
    
    return 'Not categorised'

In [14]:
df["Activity"].value_counts()

Activity
Surfing                                                        1121
Swimming                                                        975
Undisclosed                                                     611
Fishing                                                         488
Spearfishing                                                    382
                                                               ...
Fishing boat swamped in a storm                                   1
Free diving (but on surface)                                      1
Adrift after the sinking of the motor yacht Princess Dianne       1
Free diving for abalone (submerged)                               1
Wreck of  large double sailing canoe                              1
Name: count, Length: 1588, dtype: int64

In [15]:
df["Activity"] = df["Activity"].apply(get_activity)

In [16]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming/Bathing,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",Undisclosed,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Fishing,male,M,NaN,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df["Activity"].value_counts()

Activity
Surfing             1348
Swimming/Bathing    1330
Fishing             1207
Diving              1127
Not categorised      700
Boating              645
Undisclosed          611
Name: count, dtype: int64

**Species**

In [18]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [19]:
df["Species "].value_counts().sum()

3811

In [20]:
species_list = []

df["Species "] = df["Species "].fillna('Unknown')

for i in df["Species "]:
    
    if 'shark' in i.lower():
        split = i.lower().split()
        index = 0
        for i in split:
            if 'shark' in i:
                break
            else:
                index += 1
        if split[index -1].isalpha():
            species_list.append(split[index - 1])

In [21]:
species_list

['tiger',
 'tiger',
 'bull',
 'reef',
 'bull',
 'white',
 'raggedtooth',
 'white',
 'white',
 'sevengill',
 'confirmed',
 'confirmed',
 'bull',
 'lemon',
 'white',
 'whitetip',
 'white',
 'tiger',
 'nurse',
 'tiger',
 'galapagos',
 'tiger',
 'cookiecutter',
 'white',
 'blue',
 'blue',
 'wfite',
 'wobbegong',
 'whitetip',
 'tiger',
 'tiger',
 'tiger',
 'rreef',
 'reef',
 'reef',
 'confirmes',
 'white',
 'bull',
 'tiger',
 'bull',
 'bull',
 'whaler',
 'tiger',
 'reef',
 'lemon',
 'bull',
 'bull',
 'small',
 'bull',
 'mako',
 'nurse',
 'tiger',
 'tiger',
 'white',
 'tiger',
 'nurse',
 'bull',
 'white',
 'white',
 'bull',
 'white',
 'blacktip',
 'white',
 'bull',
 'blue',
 'nurse',
 'blacktip',
 'confirmed',
 'lemon',
 'small',
 'sandtiger',
 'whitetip',
 'whitetip',
 'confirmed',
 'while',
 'tiger',
 'white',
 'whaler',
 'bull',
 'blacktip',
 'tiger',
 'epaulette',
 'tiger',
 'bull',
 'blacktip',
 'white',
 'tiger',
 'nurse',
 'bull',
 'white',
 'wobbegong',
 'wobbegong',
 'sevengill',
 'spinner',
 'spinner',
 'bull',
 'reef',
 'gill',
 'no',
 'bull',
 'blacktip',
 'blacktip',
 'blacktip',
 'lemon',
 'small',
 'bull',
 'white',
 'spinner',
 'white',
 'bull',
 'galapagos',
 'white',
 'tope',
 'whaler',
 'white',
 'tiger',
 'ft',
 'ft',
 'tiger',
 'mako',
 'white',
 'bull',
 'blacktip',
 'tiger',
 'tiger',
 'bull',
 'whaler',
 'white',
 'juvenile',
 'white',
 'white',
 'bull',
 'white',
 'tiger',
 'tiger',
 'white',
 'whitetip',
 'tiger',
 'bull',
 'blacktip',
 'confirmed',
 'blacktip',
 'nurse',
 'a',
 'bull',
 'white',
 'confirmed',
 'white',
 'nurse',
 'white',
 'white',
 'white',
 'blacktip',
 'nurse',
 'spinner',
 'white',
 'lemon',
 'white',
 'reef',
 'white',
 'reef',
 'bull',
 'white',
 'bull',
 'm',
 'white',
 'bull',
 'tiger',
 'white',
 'probable',
 'tiger',
 'bull',
 'bull',
 'bull',
 'angel',
 'blacktip',
 'white',
 'bull',
 'white',
 'white',
 'tiger',
 'small',
 'gill',
 'lemon',
 'white',
 'shovelnose',
 'white',
 'tiger',
 'tiger',
 'blacktip',
 'blacktip',
 'blacktip',
 'white',
 'white',
 'tiger',
 'tiger',
 'white',
 'whitetip',
 'white',
 'white',
 'juvenile',
 'm',
 'galapagos',
 'white',
 'nurse',
 'reef',
 'cookiecutter',
 'blacktip',
 'spinner',
 'sandtiger',
 'white',
 'pup',
 'white',
 'bull',
 'bull',
 'bull',
 'probable',
 'tiger',
 'white',
 'lemon',
 'nurse',
 'tiger',
 'tiger',
 'cookiecutter',
 'tiger',
 'reef',
 'cookiecutter',
 'spinner',
 'm',
 'lemon',
 'reef',
 'tiger',
 'bull',
 'as',
 'wobbegong',
 'as',
 'white',
 'tiger',
 'wobbegong',
 'mako',
 'wobbegong',
 'reef',
 'tiger',
 'white',
 'sandtiger',
 'nurse',
 'whitetip',
 'white',
 'bull',
 'white',
 'white',
 'spinner',
 'white',
 'bull',
 'white',
 'nurse',
 'blacktip',
 'white',
 'tiger',
 'blue',
 'lemon',
 'reef',
 'nurse',
 'white',
 'bull',
 'blacktip',
 'tiger',
 'sandtiger',
 'sandtiger',
 'salmon',
 'nurse',
 'a',
 'white',
 'nurse',
 'm',
 'tiger',
 'tiger',
 'whitetip',
 'lemon',
 'bull',
 'reef',
 'nurse',
 'confirmed',
 'sandtiger',
 'tiger',
 'm',
 'white',
 'tiger',
 'white',
 'bull',
 'tiger',
 'confirmed',
 'm',
 'bull',
 'white',
 'tiger',
 'wobbegong',
 'm',
 'm',
 'blacktip',
 'white',
 'bull',
 'a',
 'galapagos',
 'bull',
 'bull',
 'lemon',
 'reef',
 'white',
 'small',
 'wobbegong',
 'tiger',
 'nurse',
 'nurse',
 'tiger',
 'tiger',
 'blue',
 'white',
 'm',
 'tiger',
 'cookiecutter',
 'wobbegong',
 'white',
 'm',
 'spinner',
 'tiger',
 'white',
 'white',
 'white',
 'nurse',
 'white',
 'questionable',
 'white',
 'blacktip',
 'whitetip',
 'white',
 'small',
 'sandtiger',
 'blue',
 'small',
 'confirmed',
 'white',
 'white',
 'white',
 'white',
 'bull',
 'tiger',
 'white',
 'confirmed',
 'no',
 'bull',
 'bull',
 'white',
 'tiger',
 'tiger',
 'doubtful',
 'no',
 'confirmed',
 'white',
 'tiger',
 'confirmed',
 'bull',
 'white',
 'lemon',
 'nurse',
 'bull',
 'lemon',
 'tiger',
 'white',
 'reef',
 'bull',
 'bull',
 'bull',
 'confirmed',
 'small',
 'white',
 'confirmed',
 'wobbegong',
 'white',
 'sevengill',
 'tiger',
 'white',
 'white',
 'm',
 'tiger',
 'white',
 'bull',
 'bull',
 'tiger',
 'blacktip',
 'blue',
 'white',
 'nurse',
 'bull',
 'reef',
 'tiger',
 'white',
 'lemon',
 'angel',
 'white',
 'dogfish',
 'white',
 'nurse',
 'reef',
 'white',
 'm',
 'mako',
 'whaler',
 'm',
 'white',
 'bull',
 'blacktip',
 'nurse',
 'mako',
 'blacktip',
 'bull',
 'white',
 'wobbegong',
 'reef',
 'reef',
 'bull',
 'tiger',
 'confirmed',
 'confirmed',
 'nurse',
 'confirmed',
 'sandtiger',
 'no',
 'no',
 'sandtiger',
 'reef',
 'bull',
 'mako',
 'tiger',
 'wobbegong',
 'blacktip',
 'm',
 'white',
 'silky',
 'whaler',
 'tiger',
 'white',
 'bull',
 'galapagos',
 'spinner',
 'bull',
 'confirmed',
 'white',
 'spinner',
 'no',
 'tiger',
 'tiger',
 'blacktip',
 'blacktip',
 'white',
 'juvenile',
 'tiger',
 'hammerhead',
 'white',
 'hammerhead',
 'white',
 'small',
 'tiger',
 'white',
 'white',
 'confirmed',
 'white',
 'confirmed',
 'hammerhead',
 'white',
 'spinner',
 'white',
 'mako',
 'whaler',
 'bull',
 'white',
 'white',
 'cofirmed',
 'no',
 'white',
 'white',
 'bull',
 'white',
 'confirmed',
 'white',
 'wobbegong',
 'sandtiger',
 'white',
 'small',
 'bull',
 'bull',
 'mako',
 'bull',
 'nurse',
 'bull',
 'm',
 'bull',
 'white',
 'white',
 'white',
 'white',
 'blue',
 'bull',
 'bull',
 'cofirmed',
 'no',
 'white',
 'mako',
 'tiger',
 'blacktip',
 'reef',
 'white',
 'tiger',
 'm',
 'm',
 'm',
 'bull',
 'white',
 'confirmed',
 'm',
 'm',
 'no',
 'white',
 'raggedtooth',
 'small',
 'm',
 'white',
 'determined',
 'unlikely',
 'white',
 'm',
 'goblin',
 'tiger',
 'white',
 'white',
 'm',
 'tiger',
 'tiger',
 'm',
 'bull',
 'blacktip',
 'blacktip',
 'white',
 'white',
 'white',
 'blacktip',
 'no',
 'bull',
 'white',
 'spinner',
 'spinner',
 'confirmed',
 'small',
 'bull',
 'reef',
 'bull',
 'bull',
 'bull',
 'white',
 'confirmed',
 'tiger',
 'metre',
 'angel',
 'confirmed',
 'white',
 'whitetip',
 'reef',
 'lemon',
 'sandbar',
 'whaler',
 'bull',
 'reef',
 'bull',
 'nurse',
 'white',
 'confirmed',
 'no',
 'cow',
 'reef',
 'white',
 'raggedtooth',
 'white',
 'confirmed',
 'm',
 'no',
 'wobbegong',
 'spinner',
 'reef',
 'whitetip',
 'white',
 'bull',
 'white',
 'tiger',
 'wobbegong',
 'tiger',
 'white',
 'white',
 'white',
 'tiger',
 'reef',
 'bull',
 'white',
 'wobbegong',
 'reef',
 'tiger',
 'nurse',
 'white',
 'white',
 'white',
 'bull',
 'bull',
 'nurse',
 'blacktip',
 'salmon',
 'no',
 'mako',
 'white',
 'tiger',
 'bull',
 'blacktip',
 'bull',
 'tiger',
 'nurse',
 'confirmed',
 'confirmed',
 'white',
 'bull',
 'tiger',
 'lemon',
 'galapagos',
 'galapagos',
 'bull',
 'small',
 'tiger',
 'nurse',
 'blue',
 'bull',
 'reef',
 'confirmed',
 'no',
 'nurse',
 'raggedtooth',
 'tiger',
 'whaler',
 'white',
 'reef',
 'reef',
 'blacktip',
 'lemon',
 'white',
 'tiger',
 'whaler',
 'm',
 'bull',
 'tiger',
 'tiger',
 'sandtiger',
 'tiger',
 'no',
 'm',
 'tiger',
 'tiger',
 'white',
 'tiger',
 'white',
 'confirmed',
 'bull',
 'tiger',
 'porbeagle',
 'm',
 'lemon',
 'bull',
 'lemon',
 'white',
 'white',
 'confirmed',
 'salmon',
 'white',
 'to',
 'no',
 'bull',
 'reef',
 'm',
 'no',
 'nurse',
 'blacktip',
 'confirmed',
 'blacktip',
 'blacktip',
 'm',
 'blue',
 'white',
 'bull',
 'tiger',
 'white',
 'white',
 'white',
 'white',
 'tiger',
 'small',
 'white',
 'white',
 'bull',
 'bull',
 'nurse',
 'spinner',
 'nurse',
 'white',
 'tiger',
 'tiger',
 'blue',
 'white',
 'bull',
 'white',
 'm',
 'tiger',
 'confirmed',
 'white',
 'confirmed',
 'wobbegong',
 'confirmed',
 'wobbegong',
 'white',
 'white',
 'raggedtooth',
 'white',
 'white',
 'jackson',
 'm',
 'no',
 'white',
 'bull',
 'tiger',
 'white',
 'confirmed',
 'white',
 'sandtiger',
 'confirmed',
 'm',
 'reef',
 'bull',
 'confirmed',
 'confirmed',
 'white',
 'bull',
 'bull',
 'white',
 'whitetip',
 'blacktip',
 'sevengill',
 'reef',
 'white',
 'tiger',
 'tiger',
 'zambesi',
 'tiger',
 'sandbar',
 'bull',
 'reef',
 'whaler',
 'bull',
 'blacktip',
 'bull',
 'bull',
 'm',
 'bull',
 'm',
 'white',
 'm',
 'reef',
 'confirmed',
 'white',
 'whitetip',
 'mako',
 'mako',
 'whitetip',
 'whitetip',
 'confirmed',
 'white',
 'white',
 'porbeagle',
 'white',
 'bull',
 'lemon',
 'lemon',
 'white',
 'white',
 'confirmed',
 'white',
 'white',
 'm',
 'confirmed',
 'white',
 'blacktip',
 'sandtiger',
 'spinner',
 'angel',
 'nurse',
 'blue',
 'bull',
 'm',
 'lemon',
 'lemon',
 'm',
 'whitetip',
 'm',
 'blue',
 'm',
 'm',
 'wobbegong',
 'm',
 'white',
 'spinner',
 'm',
 'hammerhead',
 'white',
 'reef',
 'zambesi',
 'bull',
 'no',
 'white',
 'white',
 'sandtiger',
 'confirmed',
 'thresher',
 'm',
 'white',
 'zambesi',
 'angel',
 'bull',
 'bull',
 'confirmed',
 'white',
 'white',
 'white',
 'tiger',
 'bull',
 'bull',
 'questionable',
 'reef',
 'nurse',
 'whale',
 'confirmed',
 'confirmed',
 'white',
 'whitetip',
 'whitetip',
 'whitetip',
 'kg',
 'spinner',
 'spinner',
 'spinner',
 'blacktip',
 'confirmed',
 'confirmed',
 'white',
 'raggedtooth',
 'whaler',
 'reef',
 'cookiecutter',
 'wobbegong',
 'blue',
 'm',
 'white',
 'bull',
 'white',
 'confirmed',
 'bull',
 'tiger',
 'white',
 'white',
 'dusky',
 'white',
 'white',
 'mako',
 'sevengill',
 'bull',
 'no',
 'm',
 'white',
 'white',
 'white',
 'whaler',
 'raggedtooth',
 'white',
 'zambesi',
 'whitetip',
 'whaler',
 'nurse',
 'lemon',
 'reef',
 'white',
 'whaler',
 'juvenile',
 'tiger',
 'white',
 'm',
 'confirmed',
 'blue',
 'confirmed',
 'confirmed',
 'bull',
 'tiger',
 'white',
 'white',
 'reef',
 'whitetip',
 'confirmed',
 'smoothhound',
 'confirmed',
 'bull',
 'white',
 'white',
 'white',
 'basking',
 'bull',
 'tiger',
 'm',
 'm',
 'white',
 'bull',
 'tiger',
 'bull',
 'white',
 'tiger',
 'tiger',
 'as',
 'bite',
 'bull',
 'small',
 'confirmed',
 'white',
 'bull',
 'm',
 'goblin',
 'blacktip',
 'mako',
 'no',
 'whaler',
 'small',
 'nurse',
 'hammerhead',
 'm',
 'm',
 'small',
 'a',
 'tiger',
 'm',
 'reef',
 'm',
 'white',
 'tiger',
 'white',
 'whaler',
 'blacktip',
 'white',
 'reef',
 'white',
 'whitetip',
 'confirmed',
 'reef',
 'nurse',
 'spinner',
 'tiger',
 'white',
 'sand',
 'sandtiger',
 'bull',
 'bull',
 'white',
 'white',
 'whaler',
 'spotted',
 'confirmed',
 'bull',
 'm',
 'lemon',
 'tiger',
 'confirmed',
 'reef',
 'm',
 'white',
 'confirmed',
 'tiger',
 'lemon',
 'small',
 'spinner',
 'bull',
 'tiger',
 'm',
 'm',
 'tiger',
 'confirmed',
 'tiger',
 'white',
 'confirmed',
 'tiger',
 'm',
 'silvertip',
 'm',
 ...]

In [22]:
species_list = [
    ("Tiger Shark", ["tiger", "tiger shark", "tigerr"]),
    ("Bull Shark", ["bull"]),
    ("Blacktip Shark", ["blacktip", "blacktip shark", "bluacktip"]),
    ("White Shark", ["white", "whale"]),
    ("Raggedtooth Shark", ["raggedtooth", "sandtiger"]),
    ("Sevengill Shark", ["sevengill"]),
    ("Lemon Shark", ["lemon"]),
    ("Oceanic Whitetip Shark", ["oceanic", "oceanic whitetip", "oceaniic"]),
    ("Nurse Shark", ["nurse"]),
    ("Cookiecutter Shark", ["cookiecutter"]),
    ("Blue Shark", ["blue"]),
    ("Wobbegong Shark", ["wobbegong"]),
    ("Caribbean Reef Shark", ["caribbean", "reef"]),
    ("Grey Nurse Shark", ["grey"]),
    ("Bronze Whaler Shark", ["bronze", "bronz"]),
    ("Mako Shark", ["mako"]),
    ("Spinner Shark", ["spinner"]),
    ("Galapagos Shark", ["galapagos"]),
    ("Tope Shark", ["tope"]),
    ("Epaulette Shark", ["epaulette"]),
    ("Angel Shark", ["angel"]),
    ("Reef Shark", ["reef"]),
    ("Silky Shark", ["silky"]),
    ("Thresher Shark", ["thresher"]),
    ("Hammerhead Shark", ["hammerhead"]),
    ("Shovelnose Shark", ["shovelnose"]),
    ("Tawny Shark", ["tawny"]),
    ("Dogfish Shark", ["dogfish"])
]

In [23]:
def get_species(x):
    x = x.lower()
    for species, variations in species_list:
        species = species.lower()
        for variation in variations:
            if fuzz.partial_ratio(variation.lower(), x) > 70:
                return species.capitalize()
    return 'Other'

In [24]:
pattern = r'(\d+(?:\.\d+)?)\s*m'

df["Shark Size"] = df["Species "].str.extract(pattern) + 'm'

df["Shark Size"].fillna('Unknown', inplace=True)

In [25]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Shark Size
0,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
1,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming/Bathing,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
2,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",Undisclosed,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
4,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Fishing,male,M,NaN,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [26]:
df["Shark Size"].value_counts()

Shark Size
Unknown    5583
3m          173
1.8m        138
1.5m        126
2m          123
           ...
1.96m         1
1.65m         1
2.27m         1
3.1m          1
4.7m          1
Name: count, Length: 62, dtype: int64

In [27]:
df["Species "] = df["Species "].apply(get_species)

In [28]:
df["Shark Size"] = df["Species "].apply(lambda x: get_species(x)[1])

In [29]:
def classify_size(length):
    try:
        length = float(length)
        if length > 3.0:
            return "Large"
        elif 1.5 <= length <= 3.0:
            return "Medium"
        else:
            return "Small"
    except ValueError:
        return "Unknown"

df["Shark Size"] = df["Shark Size"].apply(classify_size)

In [30]:
df["Shark Size"].value_counts()

Shark Size
Unknown    6968
Name: count, dtype: int64

In [31]:
df["Species "].value_counts()

Species
Other                     4475
Tiger shark               1585
Bull shark                 216
Blue shark                 143
Nurse shark                112
Mako shark                  58
Caribbean reef shark        58
Wobbegong shark             55
Lemon shark                 50
Raggedtooth shark           44
Hammerhead shark            43
White shark                 30
Blacktip shark              26
Sevengill shark             19
Silky shark                 13
Dogfish shark               10
Galapagos shark              9
Grey nurse shark             7
Bronze whaler shark          6
Shovelnose shark             4
Oceanic whitetip shark       2
Angel shark                  2
Tope shark                   1
Name: count, dtype: int64

**WHY**

In [32]:
#####df["Shark Size"] = df["Shark Size"].fillna(df["Species "].apply(lambda x: get_species(x)[-1])

**Time**

In [33]:
df["Time"] = df["Time"].fillna('Unknown')

In [34]:
def get_time(x):
    if x == 'Unknown':
        return x
    
    try:
        x = str(x)  
        x = x.split('h')[0]
        x = int(x)
        
        if x > 23:                 
            x = int(x / 100)
        
        time_ranges = {
            'Morning': (6, 11),    # '06:00', '11:59'
            'Afternoon': (12, 17), # '12:00', '17:59'
            'Evening': (18, 21),   # '18:00', '21:59'
        }
     
        for t_range, (start, end) in time_ranges.items():
            if start <= x <= end:
                return t_range
        
        if (22 <= x <= 24) | (0 <= x <= 5):
            return 'Night'
        
        return None

    except:
        time_ranges = ['Morning', 'Afternoon', 'Evening', 'Night']

        for t_range in time_ranges:
            if fuzz.partial_ratio(t_range, x) > 70:
                return t_range
           
        return None
        
df["Time"] = df["Time"].apply(get_time)

In [35]:
df["Time"].value_counts()

Time
Unknown      3551
Afternoon    1782
Morning      1088
Evening       290
Night         128
Name: count, dtype: int64

In [36]:
df["Time"].unique()

array(['Unknown', 'Afternoon', 'Morning', 'Evening', 'Night', None],
      dtype=object)

In [37]:
none_count = (df["Time"] == None).sum()
print("Number of occurrences of 'None' in the 'Time' column:", none_count)

Number of occurrences of 'None' in the 'Time' column: 0

**Injury**

In [38]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Shark Size
0,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,Unknown,Tiger shark,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
1,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming/Bathing,NaN,F,11,Lacerations to left foot,N,Afternoon,Other,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
2,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",Undisclosed,female,F,46,Leg bitten,N,Morning,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,Unknown,Bull shark,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
4,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Fishing,male,M,NaN,Shoulder bitten,N,Morning,Blacktip shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [39]:
df["Injury"].unique()

array(['No injury, shark bit surfboard', 'Lacerations to left foot',
       'Leg bitten', ..., 'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [41]:
df["Injury"].value_counts()

Injury
FATAL                                                                              863
Foot bitten                                                                        100
Survived                                                                            97
No injury                                                                           85
Leg bitten                                                                          81
                                                                                  ...
Right calf & heel bitten                                                             1
Multiple bites to foot after jumping off surfboard onto shark PROVOKED INCIDENT      1
Shallow  lacerations to left  thigh PROVOKED INCIDENT                                1
Bitten on finger                                                                     1
FATAL. "Shark bit him in half, carrying away the lower extremities"                  1
Name: count, Length: 4078, dtype: int64

In [44]:
def normalize_injury(df): 
    df["Injury"] = df["Injury"].apply(lambda x: "Fatal" if "fatal" in x.lower() else x)
    df["Injury"] = df["Injury"].apply(lambda x: "Severe" if "bitten" in x.lower() else x)
    return df

In [45]:
df["Injury"].value_counts()

Injury
FATAL                                                                              863
Foot bitten                                                                        100
Survived                                                                            97
No injury                                                                           85
Leg bitten                                                                          81
                                                                                  ...
Right calf & heel bitten                                                             1
Multiple bites to foot after jumping off surfboard onto shark PROVOKED INCIDENT      1
Shallow  lacerations to left  thigh PROVOKED INCIDENT                                1
Bitten on finger                                                                     1
FATAL. "Shark bit him in half, carrying away the lower extremities"                  1
Name: count, Length: 4078, dtype: int64

In [ ]:
df["Injury"].unique()